@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(233, 47%, 7%);
  font-size: 15px;
  height: 100vh;
  color: hsl(0, 0%, 100%);
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  display: flex;
  flex-direction: row;
  width: 80%;
  min-height: 300px;
  margin: auto;
  top: 20%;
  left: 10%;
  background-color: hsl(244, 38%, 16%);
  border-radius: 0.7em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 1em;
}
h2 {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
}
.colored {
  color: hsl(277, 64%, 61%);
}

.text {
  width: 50%;
  padding: 3em;
  margin-right: 1em;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
}

.image {
  width: 60%;
  min-height: 300px;
  border-radius: 0 0.7em 0.7em 0;
  background: url(../images/image-header-desktop.jpg);
  background-size: cover;
}

.filter {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
  background-size: cover;
  border-radius: 0 0.7em 0.7em 0;
  background-color: hsla(277, 64%, 61%, 0.5);
}

.attribution {
  position: absolute;
  bottom: 1%;
  left: 40%;
}

@media screen and (max-width: 720px) {
  body {
    text-align: center;
  }
  .card {
    margin-top: 10%;
    display: flex;
    flex-direction: column-reverse;
    min-height: 80%;
    align-items: center;
  }
  .text {
    height: 50%;
    padding: 0.5em;
    width: 85%;
  }
  .stats {
    display: flex;
    flex-direction: column;
    height: 5%;
  }
  .stats div {
    margin: 1em;
  }
  .image {
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 100%;
    border-radius: 0.7em 0.7em 0 0;
  }
  .filter {
    min-height: 100%;
    background-size: cover;
    border-radius: 0.7em 0.7em 0 0;
    background-color: hsla(277, 64%, 61%, 0.5);
  }
}
