// ## Colors

$text-active-blue: hsl(238, 29%, 16%);
$text-dark-blue: hsl(237, 12%, 33%);
$text-blue: hsl(240, 6%, 50%);
$arrow-red: hsl(14, 88%, 65%);

// Background gradient:
$bg-violet: hsl(273, 75%, 66%);
$bg-blue: hsl(240, 73%, 65%);

// #### Dividers
$hr-blue: hsl(240, 5%, 91%);
